**IN:** output data from opentab

**OUT:** deduplicated data to be merged

In [1]:
import pandas as pd
import os
import glob
import re
import numpy as np

In [2]:
os.chdir('/Users/kt/.config/opentabulate.con/data/output/')

In [3]:
glob.glob('*.csv')

['NT-childcare.csv',
 'NB-childcare.csv',
 'NS-childcare.csv',
 'AB-childcare.csv',
 'NL-childcare.csv',
 'MB-childcare.csv',
 'QC-childcare.csv',
 'PE-childcare.csv',
 'BC-childcare.csv',
 'SK-childcare.csv',
 'ON-childcare.csv',
 'YT-childcare.csv',
 'NU-childcare.csv',
 'godaycare.csv']

In [4]:
nt = pd.read_csv('NT-childcare.csv')
qc = pd.read_csv('QC-childcare.csv', encoding = "utf-8-sig")
ab = pd.read_csv('AB-childcare.csv')
mb = pd.read_csv('MB-childcare.csv')
on = pd.read_csv('ON-childcare.csv')
pe = pd.read_csv('PE-childcare.csv')
gdc = pd.read_csv('godaycare.csv')
nb = pd.read_csv('NB-childcare.csv')

prov | duplicates | dups dropped
------|----------|-----------
QC | Y (3523) | Y
AB | Y (14364) | Y
MB | Y (1174) | Y
ON | Y (3) | Y
PE | N | -
godaycare | Y (29) | Y
NB | Y (2) | Y
NT | Y (151) | Y
NS | N | -
NL | N | -
SK | N | -
YT | N | -
NU | N | -
* duplicates determined by unique identifier column if present, or through conditional highlighting entire excel sheet if not.

### QC

Duplicates = rows with **all** column values identical

In [5]:
# qc[qc.duplicated()]

In [6]:
qc2 = qc.drop_duplicates()
print("Num of rows removed: ", len(qc) - len(qc2), "\nNum of rows remaining: ", len(qc2))

Num of rows removed:  3523
Num of rows remaining:  3573

### AB
Duplicates = rows with **all** column values identical

In [7]:
# ab[ab.duplicated()]
ab2 = ab.drop_duplicates()
print("Num of rows removed: ", len(ab) - len(ab2), "\nNum of rows remaining: ", len(ab2))

Num of rows removed:  14364
Num of rows remaining:  2918

### MB
Duplicates = rows with **all** column values identical. Although address data is suppressed for "Family or Group Child Care Home *", the source_id still accounts for distinct identification.

In [8]:
mb2 = mb.drop_duplicates()
print("Num of rows removed: ", len(mb) - len(mb2), "\nNum of rows remaining: ", len(mb2))

Num of rows removed:  1174
Num of rows remaining:  1110

### ON

In [9]:
# on[on.duplicated()]
on2 = on.drop_duplicates()
print("Num of rows removed: ", len(on) - len(on2), "\nNum of rows remaining: ", len(on2))

Num of rows removed:  3
Num of rows remaining:  6992

### PE

In [17]:
pe[pe.duplicated()]

Empty DataFrame
Columns: [name, ages, infant, toddler, school_age, full_address, provider]
Index: []

### GoDayCare

In [11]:
# gdc[gdc.duplicated()]
gdc2 = gdc.drop_duplicates()
print("Num of rows removed: ", len(gdc) - len(gdc2), "\nNum of rows remaining: ", len(gdc2))

Num of rows removed:  29
Num of rows remaining:  3264

### NB

In [12]:
# nb[nb.duplicated()]
nb2 = nb.drop_duplicates()
print("Num of rows removed: ", len(nb) - len(nb2), "\nNum of rows remaining: ", len(nb2))

Num of rows removed:  2
Num of rows remaining:  824

### NT

In [13]:
nt2 = nt.drop_duplicates()
print("Num of rows removed: ", len(nt) - len(nt2), "\nNum of rows remaining: ", len(nt2))

Num of rows removed:  151
Num of rows remaining:  131

---
### Export

In [14]:
os.getcwd()

'/Users/kt/.config/opentabulate.con/data/output'

In [15]:
os.chdir('/Users/kt/Documents/work/STATCAN/ODECF/Wrangling-ODECF/output/childcare/deduplicated')

In [18]:
nt2.to_csv('NT-childcare.csv')
qc2.to_csv('QC-childcare.csv', encoding = 'utf-8-sig')
ab2.to_csv('AB-childcare.csv')
on2.to_csv('ON-childcare.csv')
gdc2.to_csv('godaycare.csv')
nb2.to_csv('NB-childcare.csv')
mb2.to_csv('MB-childcare.csv')